# Django
SECRET_KEY = 'django-insecure-chave-segura'
DEBUG=True
ALLOWED_HOSTS=['*']

MODE=DEVELOPMENT # DEVELOPMENT, PRODUCTION


# Configurações do Banco de Dados (Postgres)
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
# DB_HOST=db (Caso estiver rodando a aplicação usando Docker, descomente essa linha e comente a linha abaixo)
DB_HOST=127.0.0.1
DB_PORT=5432