# Django
SECRET_KEY = 'django-insecure-chave-segura'
DEBUG=True
ALLOWED_HOSTS=['*']

MODE=DEVELOPMENT # DEVELOPMENT, PRODUCTION


# Configurações do Banco de Dados (Postgres)
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432