# Django
SECRET_KEY = 'django-insecure-chave-segura'
DEBUG=True
ALLOWED_HOSTS=['*']
PORT=19003
MODE=DEVELOPMENT # DEVELOPMENT, PRODUCTION


# Configurações do Banco de Dados (Postgres)
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db # Use 'localhost' para desenvolvimento local, 'db' para Docker
DB_PORT=5432